* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #eafff0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

.blu {
  text-decoration: none;
  color: #2dcf57;
  font-weight: 700;
  font-size: 20px;
}

.navbar-lists {
  display: flex;
  gap: 30px;
}

.navbar-lists a {
  text-decoration: none;
  color: rgb(61, 54, 54);
  font-weight: 600;
}

.navbar-btns {
  display: flex;
  gap: 15px;
}

.login-btn {
  color: rgb(61, 54, 54);
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-btn {
  background-color: #2dcf57;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger-menu span {
  width: 25px;
  height: 3px;
  background-color: rgb(61, 54, 54);
  border-radius: 2px;
}

.hero-container {
  display: flex;
  justify-content: center;
}

.hero-mini-container {
  margin-left: 120px;
}

.hero {
  display: flex;
  align-items: center;
  width: 95%;
}

.hero-h1 {
  font-weight: 600;
  font-size: 40px;
}

.hero-p1 {
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
}

.hero-btns {
  display: flex;
  gap: 20px;
}

.hero-btn1 {
  background-color: #2dcf57;
  padding: 8px 13px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.hero-btn2 {
  background-color: #eafff0;
  padding: 8px 13px;
  font-size: 16px;
  color: black;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.other-sections {
  width: 80%;
  margin-left: 10%;
}

.section2 {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.section2-greens {
  background-color: #2dcf57;
  color: white;
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.section2-blacks {
  background-color: #242424;
  color: white;
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.section2-h1 {
  font-size: 40px;
}

.section2-p {
  font-size: 12px;
}

.services {
  margin-top: 100px;
}

.services-part {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.services-h1 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.services-p1 {
  font-weight: 300;
  width: 60%;
  text-align: center;
}

.services-container {
  margin-top: 80px;
  display: flex;
  gap: 70px;
}

.service-card {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border: 1px solid black;
  border-radius: 15px;
  padding: 40px;
  border-top: 2px solid #dcdcdc;
  border-left: 2px solid #dcdcdc;
  border-bottom: 2px solid #555555;
  border-right: 2px solid #555555;
}

.service-title {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #2dcf57;
}

.service-desc {
  font-weight: 200;
}

.appointment-container {
  background-image: url("images/backgroundd.png");
  margin-top: 100px;
  background-color: #2dcf57;
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 15%;
}

.ap-h1 {
  font-size: 30px;
  margin-top: 10px;
}

.ap-btn {
  background-color: black;
  padding: 8px 13px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 30px;
}

.clients-part {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.clients-h1 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.clients-p1 {
  font-weight: 300;
  width: 60%;
  text-align: center;
}

.clients-container {
  display: flex;
  align-items: center;
  margin-top: 70px;
}

.arrow {
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  padding: 15px 20px;
  font-size: 24px;
  cursor: pointer;
  margin: 0 60px;
}

.arrow:hover {
  background-color: #a6e8b7;
}

.clients-card {
  width: 90%;
  height: 40%px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 70px;
}

.card {
  display: flex;
  align-items: center;
  gap: 100px;
}

.mini-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

#name {
  font-size: 18px;
  color: #333;
  width: 300px;
}

#date {
  font-size: 14px;
  color: #555;
}

#reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#stars {
  font-size: 30px;
  color: orange;
}

#writtenReview {
  font-style: italic;
  text-align: center;
  color: #777;
  text-align: left;
  margin-top: 30px;
}

.why-part {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.why-h1 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.why-p1 {
  font-weight: 300;
  width: 60%;
  text-align: center;
}

.why-container {
    margin-top: 100px;
    display: flex;
    gap: 100px;
}

.why-lists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.why-reasons {
    display: flex;
    gap: 15px;
}

.inside-why {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.last-why {
    display: flex;
    align-items: center;
    gap: 10px;
}

.correct-img {
    width: 20px;
    height: 20px;
}

.why-p {
    font-weight: 300;
    font-size: 14px;
    color: #242424;
}

.why-h3 {
    color: #2dcf57;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    padding-bottom: 40px;
  }
  .navbar-lists,
  .navbar-btns {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .login-btn {
    display: none;
  }

  .navbar-lists a,
  .navbar-btns button {
    padding: 10px;
    text-align: left;
    width: 100%;
  }

  .hamburger-menu {
    display: flex;
  }

  .navbar-lists.active,
  .navbar-btns.active {
    display: flex;
  }

  .hero-img {
    display: none;
  }

  .hero-mini-container {
    margin-left: 10px;
    margin-top: 30px;
  }

  .hero-h1 {
    font-size: 25px;
    width: 90%;
  }

  .other-sections {
    margin-left: 30px;
  }

  .section2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .services-p1 {
    font-weight: 300;
    width: 95%;
    text-align: center;
  }

  .services-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .service-card {
    width: 300px;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .arrow {
    padding: 5px;
    font-size: 10px;
    margin: 5px;
  }

  .clients-card {
    padding: 10px;
  }

  #name {
    width: 100px;
  }

  .meeting-img {
    display: none;
  }

  .why-h1 {
    text-align: center;
  }

  .why-lists {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
